{%extends "plot.html" %}

{%block corrcoeff%}
<div id = "corrcoef">
Correlation Coefficient: {{ r }}
</div>
{%endblock%}

{% block controls %}

<form action = "../plot/" method = "GET" target = "plotframe">
<!-- get params we already have... -->
<input type = "hidden" name = "type" value = "scatter">
<input type = "hidden" name = "table" value = "{{table}}">
<input type = "hidden" name = "cols" value = "{{cols}}">
<input type = "hidden" name = "filter" value = "{{filter}}">
<!-- end -->
<div style = "margin-bottom: 5px">Axis scales:</div>
<input type = "radio" name = "scale" value = "linear" checked="checked">Linear</input>
<input type = "radio" name = "scale" value = "log">Log</input><span style = "margin-left: 30px;"></span>
<br><br>
Colour Markers:
<select name = "colours">
<option value = "">None</option>
  {%for col in all_cols%}
<option value = "{{col}}">{{col}}</option>
{%endfor%}
</select>
<br><br>
x label: <input type = "text" name = "xlabel" value = "{{x}}"><br>
y label: <input type = "text" name = "ylabel" value = "{{y}}"><br><br>
Title: <input type = "text" name = "title" value = ""><br><br>
Fit line:
<select name = "fitline">
<option value = "">None</option>
<option value = "linear">Linear</option>
</select><br><br>

<input type = "submit" value = "Update plot">
</form>

<script>
baseUrl = "{{ploturl}}"
console.log(baseUrl)
</script>

{% endblock %}

{%block download%}
<div id = "download" style = "margin-top:50px">
Download Plot:<br>
<a href = "javascript:download('svg')">SVG</a>
<a href = "javascript:download('eps')">EPS</a>
<a href = "javascript:download('pdf')">PDF</a>
<a href = "javascript:download('png')">PNG</a>
</div>
<script>
function download(format) {
  baseURL = document.getElementById("plotframe").contentWindow.location.href
  baseURL += ("&download=" + format)
  window.location = baseURL
}
</script>
{%endblock%}
