{% extends "base.html" %}
{%block content%}

<title>{{tabletitle}}</title>
<style>
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#title {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  margin: 30px;
}
#tablecontainer {
  width: 100%;
  overflow-x:scroll;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: none;
}
th, td {
  padding: 5px;
}
th {
  height: 50px;
  background-color: #4CAF50;
  color: white;
}
tr {
  border-bottom: 1px solid black;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
tr:not(:first-child):hover {
    background-color: #cccccc;
}
.chooser {
  width: 120px;
  height: 30px;
  background: white;
  border-radius: 15px;
  margin: 10px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.chooser .option {
  float: left;
  color: #333333;
  line-height: 30px;
  font-size: 10px;
  width: 30px;
  cursor: pointer;
}
.chooser .option:hover {
  background: #cccccc;
}
.chooser .option.selected {
  background: #aaaaaa;
}
#filters {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.filter {
  width: 800px;
  height: 50px;
  text-align:center;
  background: #cfcfcf;
  line-height: 50px;
}
</style>

<div id = "container">

<div id = "title">{{tabletitle}}</div>

<div id = "filters">
{%for filter in filters%}
<div class = "filter">{{filter}}</div>
{%endfor%}
<div class = "filter" id = "newfilter">
  <form action = "" id = "newfilter-form">
    <select name = "filter-column" id = "filter-column">
      {%for col in coltitles%}
        <option value = "{{col.oname}}">{{col.oname}}</option>
      {%endfor%}
    </select>
    <select name = "operator" id = "filter-operator">
      <option value = "gt">&gt;</option>
      <option value = "lt">&lt;</option>
        <option value = "between">between</option>
    </select>
    <input type = "text" name = "val1" id = "val1">
    <input type = "text" name = "val2" id = "val2" style = "display:none">
    <input type = "submit" value = "Add Filter">
    <button onclick = "rmfilters()">Remove Filters</button>
  </form>
</div>
</div>

<div id = "tablecontainer">

<table>
<tr>
{%for title in coltitles%}
<th>
{{title.name}}
{% if title.plottable %}
<div class = "chooser">
<div class = "option hist {{title.oname}}" data-type = "hist" data-column = "{{title.oname}}">Hist</div>
<div class = "option cf {{title.oname}}" data-type = "cf" data-column = "{{title.oname}}">CF</div>
<div class = "option x {{title.oname}}" data-type = "x" data-column = "{{title.oname}}">x</div>
<div class = "option y {{title.oname}}" data-type = "y" data-column = "{{title.oname}}">y</div>
</div>
</th>
{% endif %}

{%endfor%}
</tr>
{% for row in rows %}
<tr>
{% for item in row %}
<td>{{ item }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

</div>
</div>

<script src = "/static/jquery.js"></script>
<script src = "/static/URI.js"></script>

<script>

tableName = "{{tablename}}"
filter = "{{filter}}"

$(".chooser .option").click(function() {
  type = $(this).attr("data-type")
  column = $(this).attr("data-column")
  if (type == "hist") {
    window.location = "../showplot/?type=hist&table=" + tableName + "&cols=" + column
  }
  else if (type == "cf") {
    window.location = "../showplot/?type=cf&table=" + tableName + "&cols=" + column
  }
  // Those cases were easy! now for the hard stuff...
  else {
    if (type == "x") {other = "y"}
    else {other = "x"}
    console.log(other)
    hasclass = $(this).hasClass("selected")
    $(".option." + column + "." + other).toggleClass("selected", false)
    $(".option." + type).toggleClass("selected", false)
    $(this).toggleClass("selected", !hasclass)


    if ($(".option.selected").length == 2) {
      x = $(".option.selected.x").attr("data-column")
      y = $(".option.selected.y").attr("data-column")
      $(".option").toggleClass("selected", false) // Hack for firefox
      window.location = "../showplot/?type=scatter&table=" + tableName + "&cols=" + x + "," + y + "&filter=" + filter
    }
  }
})

// filter adding
$("#filter-operator").change(function() {
  if ($(this).val() == "between") {
    $("#val2").show()
  }
  else {
    $("#val2").hide()
  }
})
$("#newfilter-form").submit(function(e) {
  e.preventDefault()
  var filter = ""
  filter += $("#filter-column").val()
  filter += ","
  filter += $("#filter-operator").val()
  filter += ","
  filter += $("#val1").val()
  if ($("#val1").val() == "" || isNaN($("#val1").val())) {
    return
  }
  if ($("#filter-operator").val() == "between") {
    filter += ","
    filter += $("#val2").val()
    if ($("#val2").val() == "" || isNaN($("#val2").val())) {
      return
    }
  }
  params = URI(window.location.href).query(true)
  if (params['filter'] == null) {
    params['filter'] = filter
  }
  else {
    params['filter'] += (",," + filter)
  }
  window.location = URI(window.location.href).query(params)
})

function rmfilters() {
  params = URI(window.location.href).query(true)
  params['filter'] = null
  window.location = URI(window.location.href).query(params)
}
</script>
{%endblock%}
